.container {
    border: 1px solid lightgrey;
    min-width: 300px;
    width: 20%;
    margin:10px;
}
.header {
    background-color: #83C676;
    color: white;
    padding: 5px 10px;
}

.content {
    display: flex;
    padding: 5px 10px;
}

.count {
    font-size: 25px;
    font-weight: 500;
}
.percentile {
    font-size: 25px;
    font-weight: 500;
    font-family: system-ui;
}
.changeWrapper {
    margin-top: 10px;
    text-align: right;
    font-size: 10px;
    color: lightgrey;
    padding-right: 5px;
    padding-bottom: 5px;
}
.iconWrapper {
    margin-left: 5px;
}
.iconWrapper div {
    font-size: 12px;
}
.divider {
    font-size: 24px;
    font-weight: 500;
    margin: 0 10px;
}

.icon svg{
    width: 13px;
    margin-top:5px;
}
.pctl {
    line-height: 6px;
    color: grey;
}
.changeData {
    margin-left: 5px;
}
.green {
    color : #83C676;
}
.red {
    color : #D86464;
}